
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar-default {
    background-color: #373737;
    border-bottom: 5px solid #eb4710;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    background-color: #eb4710;
    color: #ffffff;
    text-decoration: none;
}

.list-group-item {
    background-color: #ffffe2;
    border: 1px solid #f4f2bb;
}

.col-md-9 h2{
    color:#eb4710;
}

th{
    background-color: #373737;
    color: #fff;
}

#popup_title{
    background: #bf0000 none repeat scroll 0 0!important;
    color: #ffffff!important;
    border: 0px!important;
    padding: 5px!important;
}

#popup_container {
   border-color:#bf0000!important;
}

#popup_message {
    color: #898989;
    font-size: 14px;
    padding: 0px!important;
    text-align: center;
}

#popup_panel{
    margin-left: 0px!important;
    
}

#popup_panel input{
    padding: 5px!important;
    width: 100px;
    background: #bb0000 none repeat scroll 0 0!important;
    color: #ffffff!important;
    border: medium none;
    border-radius: 5px;
}

.navbar-brand {
    color: #cccccc !important;
}

.navbar-default .navbar-nav > li > a {
    color: #cccccc;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #080808;
    color: #c2c2c2;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #080808!important;
    color: #c2c2c2!important;
    background-color: #eeeeee;
    text-decoration: none;
}